<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
         <title>Admin</title>
         	<!--link rel="stylesheets" href="{{asset('css/styles.css')}}"-->
        <script src="{{asset('js/jquery-3.1.0.min.js')}}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>