{% extends "admin.html.twig" %}

{% block body %}

<div class ="container mt-4">
	<h1> Ajouter le produit </h1>

<h1> The Product</h1>

{{ form_start(form) }}

	<div class="row">
			<div class="col-md-4>{{ form_row(form.name) }}</div>
			<div class="col-md-4>{{ form_row(form.presentation) }}</div>
	</div>

{{ form_end(form) }}

{% endblock %}
