{% extends "admin.html.twig" %}

{% block body %}

<table>
{% for m in media %}
	<tr>
		<td>{{m.file}} : produit = {{m.product}} </td>
		<td>
			<img src="/files/{{m.file}}" alt="{{m.alt}}" />
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}