{% extends "admin.html.twig" %}

{% block body %}

<table>

{% for m in media %}
	<table border=1>
	<tr> <!-- n ligne -->
		<td>{{m.file}} : produit = {{m.product}} </td>
		<td> <!-- cellule -->
			<img src="/files/{{m.file}}" title="media" alt="{{m.alt}}" />
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}