{% extends "admin.html.twig" %}

{% block body %}

<h2>client: edit</h2>
<form method="post" action="{{path('client_update', {'id':client.id})}}">
	<label for="name">Name</label>
	<input type="text" name="name" value="{{client.name}}" />
	<br />
	<input type="submit" value="Update" />
</form>

{% endblock %}